.form-container {
    padding-top: 50px;
    padding-bottom: 144px;

}

.email-input-box,
.subject-input-box,
.message-input-box {
    width: 100%;
    padding-bottom: 20px;
}

.email-input-box h4,
.subject-input-box h4,
.message-input-box h4 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 44.5287px;
    line-height: 54px;
    color: var(--dark-color);
    padding-bottom: 10px;
}

.email-input-box input,
.subject-input-box input,
.message-input-box textarea {
    background: var(--primary-color);
    width: 100%;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 31.2257px;
    color: var(--dark-color);
    padding: 14px 20px;
}

.form-container .submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .submit-button button {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 21.9678px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 10px 60px;
    max-width: 337px;
    width: 100%;
}

.message-input-box {
    position: relative;
}

.notification {
    position: absolute;
    top: 50%;
    opacity: 0;
    width: 100%;
    text-align: center;
    animation: fade 3s ease-in-out;
}

.notification p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 21.9678px;
    text-align: center;
    color: var(--white-color);
    padding: 10px 5px;
    background-color: var(--success-color);
    width: 80%;
    margin: auto;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width:1280px) {

    .email-input-box h4,
    .subject-input-box h4,
    .message-input-box h4 {
        font-size: 34px;
        line-height: 44px;
    }

    .email-input-box input,
    .subject-input-box input,
    .message-input-box textarea {
        font-size: 27px;
    }
}

@media (max-width:1199px) {

    .email-input-box h4,
    .subject-input-box h4,
    .message-input-box h4 {
        font-size: 28px;
        line-height: 36px;
    }

    .form-container {
        padding-top: 50px;
        padding-bottom: 65px;
    }

    .email-input-box input,
    .subject-input-box input,
    .message-input-box textarea {
        font-size: 24px;
    }
}

@media (max-width:767px) {

    .email-input-box h4,
    .subject-input-box h4,
    .message-input-box h4 {
        font-size: 24px;
        line-height: 28px;
    }

    .email-input-box input,
    .subject-input-box input,
    .message-input-box textarea {
        font-size: 18px;
    }

}

@media (max-width:425px){
    .notification p {
        font-size: 17px;
    }
}