.operate-title {
    width: 100%;
    height: auto;
    background: #00B9F2;
    padding: 40px 0px ;
    text-align: center;
}

.operate-title h2 {
    font-family: var(--font-family);
    color: var(--white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 83.7175px;
}

.operate-title h4 {
    font-style: normal;
    font-family: var(--font-family);
    color: var(--white-color);
    font-weight: 500;
    font-size: 43.2934px;
    letter-spacing: 0.4em;
}
.operate-card {
    display: flex;
    background-color: var(--primary-color);
    margin: 50px 20px;
    padding: 20px 20px;
    position: relative;
}

.operate-card .card-content {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.operate-card .left-to-right {
    flex-direction: row-reverse;
}

.image-box {
    width: 30%;
    padding: 0px 30px;
}

.image-box img {
    width: 100%;
}

.card-content .description {
    width: 70%;
}

.card-content .description p {
    font-family:var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 39.3311px;
    text-align: center;
    color: var(--dark-color);
}

.step-number {
    width: 100px;
    height: 100px;
    background-color: #000810;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-number-default {
    top: -33px;
    left: -33px;
}

.step-number-left-to-right {
    top: -33px;
    right: -33px;
}

.step-number span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
}