.banner_bottom {
    width: 100%;
    height: auto;
    background: #00B9F2;
    padding: 40px 0px ;
    text-align: center;
}

.banner_bottom h2 {
    font-family: var(--font-family);
    color: var(--white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 83.7175px;
}

.banner_bottom h4 {
    font-style: normal;
    font-family: var(--font-family);
    color: var(--white-color);
    font-weight: 500;
    font-size: 43.2934px;
    letter-spacing: 0.4em;
}