nav .header-navbar {
    padding: 0px;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    height: 98px;
}

nav .nav-container .header-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-wrapper .nav-logo {
    cursor: pointer;
    max-width: 327px;
    width: 100%;
    padding-bottom: 16px;
}

.nav-logo-wrapper .nav-logo img {
    width: 100%;
}

.nav-logo-wrapper .hamgur-bar {
    width: 5%;
    height: 5%;
    display: none;
}

.nav-logo-wrapper .hamgur-bar img {
    width: 100%;
}

nav .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
}

nav .nav-items li {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 20.8028px;
    text-align: center;
    cursor: pointer;
}

@media (min-width:1000px) and (max-width:1210px) {
    .nav-logo-wrapper .nav-logo {
        max-width: 300px;
    }

    nav .nav-items li {
        font-size: 19px;
    }
}

@media (max-width:979px) {
    nav .nav-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    nav .nav-container .header-nav-wrapper {
        display: block;
    }

    nav .nav-logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 20px;
    }

    .nav-logo-wrapper .hamgur-bar {
        display: block;
    }

    nav .nav-items {
        display: block;
        background-color: var(--white-color);
        transition: all .5s ease-in-out;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 560px;
        z-index: 4;
        overflow: hidden;
        width: 100%;

    }

    nav .nav-items-active {
        bottom: 0px;
    }

    nav .nav-items li {
        margin: 70px 90px;
        text-align: start;
    }
}


@media (max-width:425px) {
    .nav-logo-wrapper .nav-logo {
        cursor: pointer;
        max-width: 270px;
        width: 100%;
        padding-bottom: 16px;
    }

    .nav-logo-wrapper .hamgur-bar {
        width: 9%;
        height: 9%;
    }

    nav .nav-items li {
        font-size: 17px;
    }
}